<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add Bank</h1>
        <form method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>
            <div class="form-buttons">
                <input type="submit" value="Add Bank" class="button">
            </div>
        </form>
        <a href="{{ url_for('main.index') }}">Back to Bank List</a>
    </div>
</body>
</html>
